.produtos-depoimentos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0;
  }
  
  .produtos {
    flex-basis: 65%;
  }
  
  .produtos h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    flex-basis: calc(33.33% - 20px);
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .card a {
    display: inline-block;
    background-color: #3E8E41;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .card a:hover {
    background-color: #FF9800;
  }
  
  .depoimentos {
    flex-basis: 35%;
  }
  
  .depoimentos h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .depoimento {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
}


@media (max-width: 600px) {
    .produtos-depoimentos {
      flex-direction: column;
    }
  }